 .content {
<<<<<<< HEAD
    margin-left: 250px; /* sidebar rộng 250px */
    margin-right: auto;
    padding: 20px;
    min-height: calc(100vh - 60px);
    background-color: #f0f2f5;
  }
  
=======
     margin-left: 250px;
     /* sidebar rộng 250px */
     margin-right: auto;
     padding: 20px;
     min-height: calc(100vh - 60px);
     background-color: #f0f2f5;
 }
>>>>>>> acbda302907f6fa74659484b7256c34d8bbfd5b8
